<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ETAT_READ.Properties.Settings.atooerpConnectionString"
      connectionString="server=localhost;user id=root;password=1261986;database=mdt_test;connectiontimeout=20000;connectionlifetime=20000;defaultcommandtimeout=20000;persistsecurityinfo=True" />
    <add name="ETAT_READ.Properties.Settings.atooerpConnectionString1"
      connectionString="server=localhost;user id=root;database=atooerp;persistsecurityinfo=True;password=1261986;allowuservariables=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="report_connection_string" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=1261986; database=mdt_test;persist security info=true;CharSet=utf8;" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>